body {margin: 0px;
    padding: 0 5px 0 5px;
    display: flex;
    flex-wrap: wrap;
}


h1 {
    text-align: center;
    font-size: 47px;
    border: 2px solid black;
    background-color: yellow;
    padding: 14px;
    border-radius: 12px;
    color: red;
    margin-top: 4px;
    width: 78rem;
}

h3 {
    text-align: center;
    font-size: 36px;
    color: lime;
}

q {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 29px;

}



.dbutton{
   margin:  5% 3% 5% 16%;
}
.bi{
    margin-right: 5px;
   
}



.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

.card{
    width: 26rem;
}
